* { margin: 0; padding: 0; }
ul, ol { list-style: none; }
a { text-decoration: none; }

$header-heigt: 85px;

/** header 部分 **/

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: $header-heigt;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 14px;
  margin-left: 30px;
}

.nav_list {
  display: flex;
}

.nav_li {
  width: 156px;
  height: $header-heigt;
  > a {
    $btn-height: 38px;
    width: 136px;
    height: btn-height;
    margin-top: ($header-heigt - $btn-height) / 2;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: $btn-height;
    color: #fff;
    .ic {
      width: 30px;
      margin-right: 12px;
      background-repeat: no-repeat;
      &.ic_product {
        margin-top: 9px;
        background-image: url('../assets/imgs/ic_product.png')
      }
      &.ic_more {
        margin-top: 10px;
        background-image: url('../assets/imgs/ic_more.png')
      }
    }
  }
}

.more_box {
  position: absolute;
  top: 0;
  right: -163px;
  z-index: -1;
  width: 156px;
  height: 9999px;
  padding-top: 100px;
  background: rgba(0,0,0,.8);
  transition: right .3s;
}

.menu_li {
  padding-bottom: 45px;
  > a {
    display: block;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #c5c8d0;
    transition: color .3s;
  }
  &:hover > a {
    color: #edf2fe;
  }
}


/** nav 部分 **/

.nav_box {
  position: fixed;
  top: 50%;
  right: 38px;
  transform: translateY(-50%);
  > a {
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 12px;
    margin-top: 25px;
    &:first-child {
      margin-top: 0;
    }
    &:hover, &.cur {
      background: #fff;
      box-shadow: 0 0 4px rgba(0,0,0,.5);
    }
  }
}


/** section 部分 **/

.bg_box {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.txt_link {
  display: inline-block;
  font-size: 32px;
  color: #fff;
  &::after {
    content: '';
    width: 12px;
    height: 24px;
    margin-left: 10px;
    display: inline-block;
    background-image: url(../assets/imgs/ic_pagearr_r.png);
    background-repeat: no-repeat;
    transform: scale(.7);
  }
  &:hover::after {
    animation: txt_link 1s both;
    @keyframes txt_link {
      0%, 20%, 50%, 80%, 100% { transform: translateX(0) scale(.7); }
      40% { transform: translateX(6px) scale(.7); }
      60% { transform: translateX(3px) scale(.7); }
    }
  }
}

.txt_title {
  margin-top: 10px;
  font-size: 28px;
}

.txt_brief {
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 24px;
  .product_8 & {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left;
  }
}

.txt_btn {
  margin-top: 15px;
  display: block;
  width: 135px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #1294f6;
  color: #fff;
  transition: background-color .3s;
  &:hover { background-color: #0f83db; }
}

.btn_download {
  width: 135px;
  height: 40px;
  margin-top: 10px;
  border: 1px solid hsla(0,0%,100%,.5);
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
  &:hover {
    background-color: hsla(0,0%,100%,.3);
    border-color: hsla(0,0%,100%,.3);
  }
}

.txt_zan {
  margin-top: 15px;
  cursor: pointer;
  &::before {
    content: '';
    width: 23px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    background-image: url(../assets/imgs/ic_zan.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: scale(.7);
  }
  &:hover::before {
    background-position: -23px 0;
  }
}

.product {
  color: #fff;
  .product_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(.7); 
    .product_ic {
      height: 85px;
      background-repeat: no-repeat;
      background-position: center;
    }
    .product_txt {
      margin-top: 15px;
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: lighter;
      .pc_ic {
        width: 22px;
        height: 23px;
        margin-left: 12px;
        display: block;
        background-image: url(../assets/imgs/ic_pc.png);
      }
      .pc_mobile {
        width: 14px;
        height: 23px;
        margin-left: 12px;
        display: block;
        background-image: url(../assets/imgs/ic_mobile.png);
      }
    }
  }
  .hover_box {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    transition: left .3s;
  }
  &:hover .hover_box { left: 0; }
}

.page_box_1 .page_box_inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg_box {
    top: 0;
    left: 0;
  }
  &::before {
    content: '';
    display: block;
    margin-top: $header-heigt;
  }
  .tb_box {
    width: 1023px;
    height: 139px;
    padding-bottom: 39px;
    background-image: url(../assets/imgs/video_txt.png);
    background-repeat: no-repeat;
    font-size: 0;
    transform: scale(.7);
  }
  .btn_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      &:first-child {
        position: relative;
        top: -21px;
        width: 180px;
        height: 50px;
        display: block;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        font-weight: lighter;
        color: #fff;
        border: 1px solid hsla(0,0%,100%,.5);
        &:hover {
          background-color: hsla(0,0%,100%,.3);
          border-color: hsla(0,0%,100%,.3);
        }
      }
      &:last-child {
        width: 38px;
        height: 21px;
        display: block;
        background-image: url('../assets/imgs/ic_pagearr.png');
        animation: page_arr 1.6s both linear infinite;
        @keyframes page_arr {
          0% { transform: translateY(0); }
          25% { transform: translateY(4px); }
          75% { transform: translateY(-4px); }
          100% { transform: translateY(0); }
        }
      }
    }
  }
}

.page_box_2 .page_box_inner {
  position: relative;
  height: 100%;
  .slide_nav_box {
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 99;
    display: flex;
    transform: translateX(-50%) scale(.7);
    > a {
      box-sizing: border-box;
      width: 150px;
      height: 100px;
      border-bottom: 1px solid #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: .7;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform .5s;
      }
      &[title="Mac版本"]::after { background-image: url(../assets/imgs/ic_mac.png); }
      &[title="Windows版本（VIP专享）"]::after { background-image: url(../assets/imgs/ic_vip.png); }
      &[title="Windows版本"]::after { background-image: url(../assets/imgs/ic_windows.png); }
      &[title="Android版本"]::after { background-image: url(../assets/imgs/ic_android.png); }
      &[title="IOS版本"]::after { background-image: url(../assets/imgs/ic_ios.png); }
      &:hover, &.cur {
        border-bottom-width: 2px;
        opacity: 1;
      }
      &:hover::after {
        transform: translateY(-4px);
      }
    }
  }
  .slide {
    height: 100%;  /* jquery.fullpage.css */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: #fff;
    &.show {
      display: flex;
    }
    .txt_link {
      margin-top: -125px;
      font-size: 34px;
    }
    .txt_title {
      height: 100px;
      font-size: 0;
      background-image: url(../assets/imgs/carousel_txt.png);
      transform: scale(.7);
    }
    .btn_download, .txt_zan {
      margin-top: 25px;
    }
    .btn_lixian {
      margin-top: 20px;
      color: #fff;
      text-decoration: underline;
    }
    &.slide_1 .txt_title { width: 760px; background-position: 0 -104px; }
    &.slide_2 .txt_title { width: 868px; background-position: 0 -416px; }
    &.slide_3 .txt_title { width: 759px; background-position: 0 0; }
    &.slide_4 .txt_title { width: 762px; background-position: 0 -208px; }
    &.slide_5 .txt_title { width: 979px; background-position: 0 -312px; }
  }
}

.page_box_3 .page_box_inner {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .product_1, .product_2, .product_3 {
    position: relative;
    z-index: 9;
  }
  .product_2 {
    z-index: 99;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    .product_ic {
      width: 81px;
      background-image: url(../assets/imgs/ic_product_2.png);
    }
  }
  .product_1 .product_ic {
    width: 62px;
    background-image: url(../assets/imgs/ic_product_1.png);
  }
  .product_3 .product_ic {
    width: 64px;
    background-image: url(../assets/imgs/ic_product_3.png);
  }
}

.page_box_4 .page_box_inner {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .product_4, .product_5, .product_6, .product_7 {
    position: relative;
    z-index: 9;
  }
  .product_4 {
    grid-row-start: 1;
    grid-row-end: 3;
    .product_ic {
      width: 85px;
      background-image: url(../assets/imgs/ic_product_4.png);
    }
  }
  .product_5 {
    grid-column-start: 2;
    grid-column-end: 4;
    .product_ic {
      width: 78px;
      background-image: url(../assets/imgs/ic_product_5.png);
    }
  }
  .product_6 .product_ic {
    width: 82px;
    background-image: url(../assets/imgs/ic_product_6.png);
  }
  .product_7 .product_ic {
    width: 71px;
    background-image: url(../assets/imgs/ic_product_7.png);
  }
}

.product_8 {
  padding-top: 85px;
  padding-left: 120px;
  .txt_link, .txt_title, .txt_brief, .txt_zan {
    opacity: .7;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #b2b2b2;
}

.btns_box{
  display: flex;
  margin-bottom: 30px;
  transform: scale(.9);
  > a {
    display: block;
    width: 77px;
    height: 77px;
    margin: 0 27px;
    &:nth-child(1) { background-image: url(../assets/imgs/foot_ic_1.png); }
    &:nth-child(2) { background-image: url(../assets/imgs/foot_ic_2.png); }
    &:nth-child(3) { background-image: url(../assets/imgs/foot_ic_3.png); }
    &:nth-child(4) { background-image: url(../assets/imgs/foot_ic_5.png); }
    &:nth-child(5) { background-image: url(../assets/imgs/foot_ic_6.png); }
  }
}

.big_links {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 18px;
  > a {
    margin: 0 18px;
    color: gray;
  }
}

.links {
  line-height: 18px;
  > a {
    color: #b2b2b2;
  }
}

.safe_links {
  margin: 5px 0 5px;
  > a {
    width: 64px;
    height: 28px;
    padding: 0 2px;
    margin: 0 6px;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    color: #b2b2b2;
    word-break: break-all;
  }
}
